/* ===== WINDOW SIZES ===== */
/* ===== // WINDOW SIZES =====*/
/* ===== FONT SIZES =====*/
@media (max-width: 992px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 33px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 33px !important;
  }
  h2 {
    font-size: 31px !important;
  }
  h3 {
    font-size: 27px !important;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 29px !important;
  }
  h3 {
    font-size: 24px !important;
  }
}
/* ===== // FONT SIZES =====*/
/* ===== IMPORTS =====*/
header {
  position: fixed;
  height: 100vh;
  width: 30%;
  border-right: 7px solid #fff;
  font-family: northface;
}
header .who {
  margin-top: 80px;
}
header .who img {
  max-width: 150px;
  height: 150px;
  margin: 10px 0;
}
header .who h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 100;
}
header .who h2 {
  margin: 0;
}
header .who h2.reward {
  margin-top: 10px;
}
header .who h2.reward .blur {
  filter: blur(5px);
}
header .who p {
  margin: 0;
  line-height: 0.9;
  font-size: 27px;
}
@media (max-width: 991px) {
  header {
    position: static;
    height: auto;
    width: auto;
    border-right: 0;
    border-bottom: 5px solid #fff;
  }
  header .who {
    margin: 0;
    padding: 50px 0;
    text-align: center;
  }
}
footer {
  position: fixed;
  bottom: 70px;
  left: 15px;
  width: 30%;
  font-family: northface;
}
footer .share .ya-share2 {
  display: inline-block !important;
}
@media (max-width: 991px) {
  footer {
    position: static;
    height: 100px;
    width: auto;
    margin-bottom: 60px;
  }
  footer .share .ya-share2 ul li {
    margin: 0 15px 25px;
  }
}
@font-face {
  src: url("/assets/fonts/WesternBangBang.otf");
  font-family: western;
}
@font-face {
  src: url("/assets/fonts/NorthFace.ttf");
  font-family: northface;
}
body {
  min-height: 100vh;
  background: #000030;
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}
body .wrapper main h2 {
  margin-bottom: 15px;
  color: #ff8c00;
}
body .wrapper img {
  max-width: 100%;
  height: auto;
}
body .wrapper a {
  text-decoration: underline;
  font-style: italic;
  color: inherit;
}
body .wrapper hr {
  border-color: #ff8c00;
}
body::-webkit-scrollbar {
  width: 7px;
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #ff8c00;
}
@media (max-width: 767px) {
  body .wrapper {
    top: 30px;
  }
}
main {
  padding: 50px 20px;
  background-color: #000030;
  letter-spacing: 1px;
  font-family: western;
}
main section {
  margin-bottom: 50px;
}
main section ul li {
  margin-bottom: 7px;
}
main section.crimes .work {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 100%;
  border: 3px solid #fff;
  border-radius: 15px;
}
main section.crimes .work a {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
main section.crimes .work span {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}
/* ===== // IMPORTS =====*/
