// "out": "style.css", "compress": true, "strictMath": true, "sourceMap": true
/* ===== SIZES ===== */
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;
/* ===== // SIZES =====*/
body {
  min-height: 100vh;
  background: linear-gradient(to top, #283048, #859398);
  color: #fff;

  .wrapper {
    position: relative;
  }
}
@import "includes/header-footer.less";
@import "includes/all.less";
@import "includes/main.less";
