/* ===== WINDOW SIZES ===== */
/* ===== // WINDOW SIZES =====*/
/* ===== FONT SIZES =====*/
@media (max-width: 992px) {
  h1 {
    font-size: 23px !important;
  }
  h2 {
    font-size: 21px !important;
  }
  h3 {
    font-size: 18px !important;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 21px !important;
  }
  h2 {
    font-size: 19px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  p {
    font-size: 13px !important;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 19px !important;
  }
  h2 {
    font-size: 16px !important;
  }
  h3 {
    font-size: 15px !important;
  }
  p {
    font-size: 14px !important;
  }
}
/* ===== // FONT SIZES =====*/
/* ===== IMPORTS =====*/
header {
  position: fixed;
  height: 100vh;
  width: 30%;
  background: url("/assets/img/forest2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
header .who {
  margin: 120px 50px 0 0;
}
header .who img {
  max-width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
header .who h1 {
  font-size: 24px;
}
header .who h1 span {
  font-size: 20px;
}
header .who p {
  margin-top: 30px;
  font-size: 15px;
}
header .who p span {
  font-size: 25px;
}
@media (max-width: 991px) {
  header {
    position: static;
    height: auto;
    width: auto;
  }
  header .who {
    margin: 0;
    padding: 50px 0;
    text-align: center;
  }
}
footer {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 30%;
}
footer .contact .social ul li {
  float: right;
  display: inline-block;
  margin: 0 10px;
}
footer .contact .social ul li:first-child {
  margin-right: 50px;
}
footer .contact .social ul li a {
  color: #fff;
}
@media (max-width: 991px) {
  footer {
    position: static;
    height: 200px;
    width: auto;
    background: transparent;
  }
  footer .contact .social ul {
    text-align: center;
  }
  footer .contact .social ul li {
    float: none;
  }
  footer .contact .social ul li:first-child {
    margin-right: 0;
  }
}
body {
  min-height: 100vh;
  background: #000;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}
body .wrapper {
  position: relative;
}
body .wrapper h2 {
  margin-bottom: 35px;
}
body .wrapper img {
  max-width: 100%;
  height: auto;
}
body .wrapper a {
  color: #0f0;
}
body .wrapper a:focus,
body .wrapper a:hover {
  color: #0f0;
}
body .wrapper a:focus {
  text-decoration: none;
}
body .wrapper a:active {
  text-decoration: underline;
}
main {
  padding: 50px 20px;
}
main section.about ul {
  padding: 20px;
}
main section.about ul li {
  margin-bottom: 3px;
}
main section.portfolio .item {
  margin-bottom: 40px;
}
main section.portfolio .item img {
  margin-bottom: 15px;
}
main section.portfolio .item p {
  font-size: 12px;
}
/* ===== // IMPORTS =====*/
