/* ===== WINDOW SIZES ===== */
/* ===== // WINDOW SIZES =====*/
/* ===== SPACERS =====*/
/* ===== // SPACERS =====*/
/* ===== FONT SIZES =====*/
@media (max-width: 992px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 33px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 33px !important;
  }
  h2 {
    font-size: 31px !important;
  }
  h3 {
    font-size: 27px !important;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 29px !important;
  }
  h3 {
    font-size: 24px !important;
  }
}
/* ===== // FONT SIZES =====*/
/* ===== IMPORTS =====*/
header {
  position: fixed;
  height: 100vh;
  width: 30%;
  font-family: western;
}
header .who {
  margin-top: 80px;
}
header .who img {
  max-width: 150px;
  height: 150px;
  margin: 10px 0;
}
header .who h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 100;
}
header .who h2 {
  margin: 0;
}
header .who h2.reward {
  margin-top: 10px;
}
header .who h2.reward .blur {
  filter: blur(3px);
}
header .who p {
  margin: 0;
  line-height: 0.9;
  font-size: 27px;
}
@media (max-width: 991px) {
  header {
    position: static;
    height: auto;
    width: auto;
    border-right: 0;
    border-bottom: 2px solid #020302;
  }
  header .who {
    margin: 0;
    padding: 50px 0;
    text-align: center;
  }
}
footer {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 30%;
  font-family: western;
}
footer .share .ya-share2 {
  display: inline-block !important;
  filter: grayscale(1) !important;
}
@media (max-width: 991px) {
  footer {
    position: static;
    height: 100px;
    width: auto;
    margin-bottom: 60px;
  }
  footer .share .ya-share2 ul li {
    margin: 0 15px 25px;
  }
}
@font-face {
  src: url("/assets/fonts/WesternBangBang.otf");
  font-family: western;
}
@font-face {
  src: url("/assets/fonts/SerialPublicationDEMO.ttf");
  font-family: serial;
}
body {
  min-height: 100vh;
  background: url("/assets/img/board.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  font-size: 22px;
  line-height: 1.5;
  color: #020302;
}
body .wrapper {
  position: relative;
  top: 100px;
  transform-origin: top;
  background: url("/assets/img/paper.jpg");
  background-repeat: no-repeat;
  background-size: 97% 98%;
  background-position: center top;
}
body .wrapper main h2 {
  margin-bottom: 15px;
}
body .wrapper img {
  max-width: 100%;
  height: auto;
}
body .wrapper a {
  text-decoration: underline;
  font-style: italic;
  color: inherit;
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}
@media (max-width: 767px) {
  body .wrapper {
    top: 30px;
  }
}
main {
  padding: 50px 20px;
  letter-spacing: 1px;
  font-family: western;
}
main section {
  margin-bottom: 50px;
}
main section ul li {
  margin-bottom: 7px;
}
main section.portfolio .item {
  margin-bottom: 40px;
}
main section.portfolio .item img {
  margin-bottom: 15px;
}
main section.portfolio .item p {
  font-size: 12px;
}
/* ===== // IMPORTS =====*/
