// "main": "../style.less"

body {
  min-height: 100vh;
  // background: linear-gradient(to right, #030401, rgba(50, 75, 0, 1));
  // background: linear-gradient(to right, #00f 90%, #f00);
  background: #000;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;

  .wrapper {
    position: relative;

    h2 {
      margin-bottom: 35px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: #0f0;

      &:focus,
      &:hover {
        color: #0f0;
      }

      &:focus {
        text-decoration: none;
      }

      &:active {
        text-decoration: underline;
      }
    }
  }
}
