// "main": "../style.less"
@font-face {
  src: url("/assets/fonts/WesternBangBang.otf");
  font-family: western;
}
@font-face {
  src: url("/assets/fonts/SerialPublicationDEMO.ttf");
  font-family: serial;
}

body {
  min-height: 100vh;
  background: url("/assets/img/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // font-family: serial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #020302;

  .wrapper {
    position: relative;

    main {
      h2 {
        margin-bottom: 25px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      text-decoration: underline;
      font-style: italic;
      color: inherit;
    }
  }
}
