// "main": "../style.less"
// @red: linear-gradient(to bottom, #23165f 50%, #ff2700);

header {
  position: fixed;
  height: 100vh;
  width: 30%;
  background: url("/assets/img/forest2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  .who {
    margin: 120px 50px 0 0;

    img {
      max-width: 150px;
      height: 150px;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 24px;

      span {
        font-size: 20px;
      }
    }

    p {
      margin-top: 30px;
      font-size: 15px;

      span {
        font-size: 25px;
      }
    }
  }
  @media (max-width: @screen-sm-max) {
    position: static;
    height: auto;
    width: auto;

    .who {
      margin: 0;
      padding: 50px 0;
      text-align: center;
    }
  }
}

footer {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 30%;

  .contact {
    .social {
      ul {
        li {
          float: right;
          display: inline-block;
          margin: 0 10px;

          &:first-child {
            margin-right: 50px;
          }

          a {
            color: #fff;
          }
        }
      }
    }
  }
  @media (max-width: @screen-sm-max) {
    position: static;
    height: 200px;
    width: auto;
    background: transparent;

    .contact {
      .social {
        ul {
          text-align: center;

          li {
            float: none;

            &:first-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
