/* ===== FONT =====*/

@font-face {
	src: url('/fonts/TitilliumWeb-Regular.ttf');
	font-family: Titillium;
}

/* ===== // FONT =====*/

/* ===== COLORS =====*/

:root {
	--gray: #F6F6F6;
	--black: #222;
	--blue: #25F;
}

/* ===== // COLORS =====*/

/* ===== COMMON ===== */

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-button {
	display: none;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track-piece {
	border-left: 1px solid var(--black);
	background: white;
}

body::-webkit-scrollbar-thumb {
	background: var(--black);
}

img {
	max-width: 100%;
	height: auto;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a, a:hover {
	color: var(--blue);
}

a:hover {
	text-decoration: underline;
}

a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, b::selection, time::selection, li::selection, p::selection, span::selection {
	background-color: var(--black);
	color: white;
}

h1 {
	display: block;
	margin: 0 -15px 30px;
	padding: 3px 20px;
	background-color: var(--black);
	color: white;
}

h2 {
	position: relative;
	margin: 30px 0 25px;
}

h2::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: var(--black);
	border-radius: 5px;
}

h3 {
	margin-bottom: 0;
}

p {
	margin: 8px 0;
	text-align: justify;
}

p, b, li, time {
	font-size: 18px;
}

time {
	display: block;
	text-align: right;
}

.spacer {
	height: 75px;
}

/* ===== // COMMON ===== */

body {
	background: var(--gray);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	font-family: Titillium;
	color: var(--black);
}

nav.container {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	background: var(--black);
}

nav ul {
	margin: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0;
}

nav ul li a {
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: white;
	font-size: 12px;
	font-weight: 600;
}

nav ul li a:hover {
	text-decoration: underline;
	color: white;
}

main {
	position: relative;
	padding: 50px 40px 20px;
	background-color: white;
}

#about h1 {
	margin-top: 25px;
}

#about .columns p {
	margin-bottom: 10px;
}

#about .columns ul {
	margin-bottom: 0;
}

#about .columns ul li {
	margin-bottom: 0.5rem;
}

#portfolio p {
	margin: 0 0 10px;
}

.created p {
	margin-bottom: 0;
	text-align: center;
}

/* Larger than Desktop HD */

@media (max-width: 1200px) {
	h1:not(:first-child) {
		margin-top: 0;
	}
}

/* Larger than desktop */

@media (max-width: 1000px) {
	.four.columns {
		width: 45%;
	}
	.four.columns:last-child {
		margin-left: 0;
	}
}

/* Larger than tablet */

@media (max-width: 750px) {
	h1:not(:first-child) {
		margin-top: -10px;
	}
	.four.columns {
		width: 100%;
		margin-left: 0;
	}
	h1 {
		margin: 30px 0;
	}
	main {
		padding: 40px 20px 20px;
	}
}

/* Larger than phablet */

@media (max-width: 550px) {}

/* Larger than mobile */

@media (max-width: 400px) {}
